:root{ /*main colours used in the project*/

    /* Colours Used*/
    --main-colour: #ffffff;
    --secondary-colour-1: #1F2937;
    --secondary-colour-2: #E5E7EB;
    --accent-colour: #3882F6;

    --main-text-colour: #F9FAF8;
    --secondary-text-colour: #E5E7EB;

    --font-family: 'Roboto', sans-serif;


}

/*Header*/
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0;
    padding: 0;
}

header{
    background-color: var(--secondary-colour-1);
}


ul{
  
   display: flex;
   flex-direction: row;
   padding: 0;
   color: var(--main-text-colour);
   font-weight: normal;
   margin-bottom: 50px;
   padding-top: 10px;
   
}


li{
    list-style: none;
}

.website-name{
    padding-left: 10px;
    margin-right: 400px;
    font-weight: 700;
}

li:not(:first-child){
    margin-right: 40px;
}

li:hover:not(:first-child){
    text-decoration: underline;
    cursor: pointer;
}

.website-name:hover{
    cursor: pointer;
}

.hero{
    display: flex;
}

.hero-text{
    color: var(--main-colour);
    padding-left: 10px;
    
}

.hero-text h3{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.hero-text p{
    margin-top: 0px;
    padding-top: 0px;
    width: 300px;
    font-style: italic;
    font-weight: 400;

}

.hero-text button{
    border-radius: 5px;
    color: var(--main-colour);
    background-color: var(--accent-colour);
    border: none;
    padding: 5px 15px;
}


.hero-text button:hover{
    background-color: var(--secondary-colour-1);
    border: 2px solid var(--accent-colour);
    cursor: pointer;
}

.hero-image-div img{
    width: 400px;
    height: 200px;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 60px;


}

/* Popular Dishes Section */
.popular-dishes-section h2{
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 1.5px;
}

.popular-dishes {
    display: flex;
    padding-bottom: 20px;
    padding-left: 30px;
}

.popular-dishes img{
    height: 200px;
    width: 200px;
    border-radius: 3px;
}

.popular-dishes p{
    padding-top: 0px;
    margin-top: 0px;
    font-style: italic;
    font-weight: 400;
}

.dish{
    padding-left: 30px;
    
}

.seafood-source p{
    font-style: italic;
    font-weight: 400;
    padding-bottom: 50px;
}


/* Tesimonial Section*/
.testimonial-section{
    background-color: var(--secondary-colour-2);
    
}

.testimonial-section p{
    font-style: italic;
    font-weight: 400;
    padding-top: 80px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 20px;

}

.testimonial-section h5{
    padding-bottom: 60px;
    text-align: right;
    padding-right: 100px;
    font-size: 20px;
    letter-spacing: 1px;
   
}
